<div class="jumbotron text-center">
  <div class="container">
    <h1>Welcome to TCell's Waitlist</h1>
    <a type="button" class="btn btn-lg btn-default" href="">Waitlist</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/ruby-getting-started">Log In</a>
  </div>
</div>
<div class="container">
</div>
