{
  "version": 1,
  "applications": [
    {
      "tcell_api_url": "https://api.tcell-preview.io/api/v1",
      "tcell_input_url": "https://input.tcell-preview.io/api/v1",
      "enable_policy_polling": true,
      "logging_options": {
        "enabled": true,
        "level": "DEBUG"
      }
    }
  ]
}

